<ion-content [fullscreen]="true">
  <div class="scanner-wrapper">
    <zxing-scanner
      #scanner
      [formats]="allowedFormats"
      [videoConstraints]="videoConstraints"
      [torch]="torchEnabled"
      [device]="currentDevice"
      (scanSuccess)="scanSuccessHandler($event)"
      (scanError)="scanErrorHandler($event)"
      (camerasFound)="onCamerasFound($event)"
      class="scanner-container">
    </zxing-scanner>

    <div class="scan-overlay">
      <div class="scan-region">
        <div class="corner-tl"></div>
        <div class="corner-tr"></div>
        <div class="corner-bl"></div>
        <div class="corner-br"></div>
        <div class="scan-line"></div>
      </div>
    </div>

    <div class="controls-container">
      <ion-button (click)="toggleTorch()" color="light" fill="clear" shape="round">
        <ion-icon [name]="torchEnabled ? 'flash-off' : 'flash'" slot="icon-only"></ion-icon>
      </ion-button>
      
      <ion-button *ngIf="hasMultipleCameras()" (click)="switchCamera()" color="light" fill="clear" shape="round">
        <ion-icon name="camera-reverse" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <!-- Modal para mostrar resultados -->
    <div class="modal-overlay" *ngIf="information">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Resultado del Escaneo</h2>
          <ion-button fill="clear" (click)="closeModal()" class="close-button">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
        <div class="modal-body">
          <div class="scanned-info">
            {{ formatInformation(information) }}
          </div>
        </div>
        <div class="modal-footer">
          <ion-button expand="block" (click)="closeModal()">
            Cerrar
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>