<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="sidebar">
    <div class="p-3">
      <h4>Menú</h4>
    </div>
    <nav class="nav flex-column">
      <a class="nav-link" [routerLink]="['/admin/dashboard']" routerLinkActive="active" (click)="closeMenu()">
        <ion-icon name="home-outline"></ion-icon>
        Inicio
      </a>
      <a class="nav-link" [routerLink]="['/admin/cargar-qr']" routerLinkActive="active" (click)="closeMenu()">
        <ion-icon name="qr-code-outline"></ion-icon>
        Cargar QR
      </a>
      <a class="nav-link" [routerLink]="['/admin/comunidad']" routerLinkActive="active" (click)="closeMenu()">
        <ion-icon name="people-outline"></ion-icon>
        Comunidad
      </a>
      <a class="nav-link" [routerLink]="['/admin/crear-usuarios']" routerLinkActive="active" (click)="closeMenu()">
        <ion-icon name="person-add-outline"></ion-icon>
        Crear Usuario
      </a>
      <a class="nav-link" [routerLink]="['/admin/reportes']" routerLinkActive="active" (click)="closeMenu()">
        <ion-icon name="bar-chart-outline"></ion-icon>
        Reportes de Cargas
      </a>
      <a class="nav-link" [routerLink]="['/admin/perfil']" routerLinkActive="active" (click)="closeMenu()">
        <ion-icon name="person-circle-outline"></ion-icon>
        Perfil
      </a>
    
    </nav>
  </div>
</ion-menu>

<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>